<script setup lang="ts">
import { useTheme } from '@/entities/theme';
import plus from '@/assets/svg/plus.vue';

const emit = defineEmits<{
  (e: 'open-modal'): void;
}>();

const { themeDark } = storeToRefs(useTheme());

const backgroudCard = computed(() =>
  themeDark.value ? 'rgba(0, 0, 0, 0.5)' : 'inherit',
);
</script>

<template>
  <n-card
    class="card"
    hoverable
  >
    <template #header>
      <div class="card__title">Новый датасет</div>
    </template>
    <template #cover>
      <div class="card__cover">
        <img src="@/assets/images/card.jpeg" />

        <div
          class="card__flex"
          @click.prevent="emit('open-modal')"
        >
          <div class="card__plus">
            <n-icon size="30">
              <plus />
            </n-icon>
          </div>
        </div>
      </div>
    </template>
  </n-card>
</template>

<style lang="scss" scoped>
.card {
  max-width: 300px;
  border-radius: 20px;
  position: relative;

  &__title {
    text-align: center;
    text-transform: uppercase;

    font-size: 14px;
    letter-spacing: 0.5em;
  }

  &__cover {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    height: 180px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: v-bind(backgroudCard);

      transition: 0.3s;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    height: 180px;
  }

  &__flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__plus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
