<script setup lang="ts">
import type { FormInst } from 'naive-ui';

const showModal = defineModel({
  default: false,
});

const formRef = ref<FormInst | null>(null);

const emits = defineEmits<{
  (e: 'add-datasets', v: { name: string }): void;
}>();

const formValues = ref({
  name: '',
});

const closeModal = () => {
  showModal.value = false;
};

const rule = computed(() => ({
  name: {
    required: true,
    trigger: ['blur', 'change'],
    validator: (rule: any, value: string) => {
      if (!value) {
        return new Error('Поле обязательно для заполнения');
      }

      return true;
    },
  },
}));

const submitForm = () => {
  formRef.value?.validate((errors) => {
    if (!errors) {
      emits('add-datasets', formValues.value!);
    }
  });
};
</script>
<template>
  <n-modal
    v-model:show="showModal"
    transform-origin="center"
  >
    <n-card
      class="card"
      style="width: 500px"
      :bordered="false"
      size="huge"
      role="dialog"
      aria-modal="true"
      closable
      @close="closeModal"
    >
      <template #header>
        <n-text class="card__header">Новый датасет</n-text>
      </template>

      <n-form
        ref="formRef"
        :model="formValues"
        :rules="rule"
      >
        <n-form-item
          label="Класс"
          path="name"
        >
          <n-input v-model:value="formValues.name" />
        </n-form-item>

        <n-space
          align="center"
          justify="end"
        >
          <n-button
            round
            type="success"
            @click="submitForm"
          >
            Подтвердить
          </n-button>

          <n-button
            round
            secondary
            @click="closeModal"
          >
            Закрыть
          </n-button>
        </n-space>
      </n-form>
    </n-card>
  </n-modal>
</template>

<style lang="scss" scoped>
.card {
  border-radius: 20px;
  &__header {
    font-size: 20px;
    font-weight: 700;
  }
}
</style>
