<script setup lang="ts">
import { ref } from 'vue';
import axios from 'axios';
import { PageLayout } from '@/shared/ui';
import { type UploadFileInfo } from 'naive-ui';

const isLoading = ref(false);

const action = ref<string>(
  'http://localhost:8001/video_object_detection_to_video',
);
const objectToDetect = ref<string>('');
const defaultFileList = ref<UploadFileInfo[]>([]);

const fileUpload = ({ event, file: { id } }: any) => {
  console.log(event);
  if (!(event?.target as XMLHttpRequest)?.response) return;

  const url = window.URL.createObjectURL(
    new Blob([(event!.target as XMLHttpRequest)!.response]),
  );

  const link = document.createElement('a');
  link.href = url;
  link.setAttribute('download', 'annotated_video.mp4');
  document.body.appendChild(link);
  link.click();
  link.remove();
};

watch(objectToDetect, (newValue) => {
  action.value = `http://localhost:8001/video_object_detection_to_video?object_to_detect=${newValue}`;
});
</script>

<template>
  <PageLayout>
    <template #header>
      <n-flex>
        <n-gradient-text type="success">Распознавание видео</n-gradient-text>

        <n-spin
          v-if="isLoading"
          size="large"
        />
      </n-flex>
    </template>

    <n-space
      v-if="!isLoading"
      vertical
    >
      <n-upload
        :action="action"
        :default-file-list="defaultFileList"
        response-type="blob"
        list-type="image-card"
        @finish="fileUpload"
      >
        Загрузить видео
      </n-upload>

      <n-input
        v-model:value="objectToDetect"
        placeholder="Object to detect"
      />
    </n-space>
  </PageLayout>
</template>

<style lang="scss" scoped>
.n-gradient-text {
  font-size: 36px;
}
</style>
