<script setup lang="ts">
import axios from 'axios';
import { PageLayout } from '@/shared/ui';
import { io } from 'socket.io-client';

const soket = io('http://192.168.0.12:8001');

const metrics = ref([]);

const train = async () => {
  const { data } = await axios.post('http://192.168.0.12:8001/train');

  console.log(data);
};
</script>

<template>
  <PageLayout>
    <template #header>
      <n-gradient-text type="info">Машинное обучение</n-gradient-text>
    </template>

    <n-button
      type="success"
      @click="train"
      >Train</n-button
    >
    <pre>{{ metrics }}</pre>
  </PageLayout>
</template>

<style lang="scss" scoped>
.n-gradient-text {
  font-size: 36px;
}
</style>
