<script setup lang="ts">
import { useFirebaseAuth } from 'vuefire';

import { LinksButtons, ItemsForm } from './ui';

import { useRegisterQuery, useAuthQuery, useSignOutQuery } from './api';

import type { FormLogin } from './types';

import { useLogin } from '@/entities/login';

const auth = useFirebaseAuth()!;

const router = useRouter();

const formKey = ref('');

const authModel = ref({
  email: null,
  password: null,
});

const { mutate, isLoading, isSuccess } = useRegisterQuery();

const { showModal } = storeToRefs(useLogin());

const {
  mutate: mutateSignIn,
  isLoading: isLoadingSignIn,
  isSuccess: isSuccessSignIn,
} = useAuthQuery();

const {
  mutate: mutateSignOut,
  isLoading: isLoadingSignOut,
  isSuccess: isSuccessSignOut,
} = useSignOutQuery();

const openModal = (key: string) => {
  showModal.value = true;
  formKey.value = key;
};

const closeModal = () => {
  showModal.value = false;

  formKey.value = '';
};

const signOut = () => {
  mutateSignOut(auth);
};

const authForm = async (formValues: FormLogin) => {
  if (!formValues.email && !formValues.password) return;

  const payload = {
    auth,
    email: formValues.email!,
    password: formValues.password!,
  };

  if (formKey.value === 'out') {
    mutate(payload);
  }

  mutateSignIn(payload);
};

const titleModal = computed(() =>
  formKey.value === 'in' ? 'Авторизация' : 'Регистрация',
);

watch(isSuccess, () => {
  closeModal();

  router.push('/');
});

watch(isSuccessSignIn, () => {
  closeModal();

  router.push('/');
});

watch(isSuccessSignOut, () => {
  router.push({ name: 'login' });
});
</script>

<template>
  <div class="header">
    <div class="container">
      <LinksButtons
        @sign-in="openModal"
        @sign-up="openModal"
        @sign-out="signOut"
        :isLoadingSignOut="isLoadingSignOut"
      />

      <n-modal
        v-model:show="showModal"
        :mask-closable="false"
        transform-origin="center"
      >
        <n-card
          style="width: 800px"
          :bordered="false"
          size="huge"
          role="dialog"
          aria-modal="true"
          closable
          @close="closeModal"
        >
          <template #header>
            {{ titleModal }}
          </template>

          <ItemsForm
            v-model="authModel"
            v-model:show-modal="showModal"
            :isLoading="isLoading || isLoadingSignIn"
            @auth="authForm"
          />
        </n-card>
      </n-modal>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  height: 100%;
}
</style>
