<script setup lang="ts">
import { ref } from 'vue';
import { PageLayout } from '@/shared/ui';
import { type UploadFileInfo } from 'naive-ui';

import { ref as storageRef } from 'firebase/storage';
import { useFirebaseStorage, useStorageFile } from 'vuefire';

const storage = useFirebaseStorage();

function uploadPicture(data, name) {
  const FileRef = storageRef(storage, name);

  const { upload } = useStorageFile(FileRef);

  if (data) {
    upload(data);
  }

  return;
}

const images = ref<string[]>([]);

const action = ref<string>('http://localhost:8001/img_object_detection_to_img');
const objectToDetect = ref<string>('');
const defaultFileList = ref<UploadFileInfo[]>([]);

const fileUpload = ({ event, file }: any) => {
  if (!(event?.target as XMLHttpRequest)?.response) return;

  const blob = new Blob([(event!.target as XMLHttpRequest).response], {
    type: 'image/jpeg',
  });

  uploadPicture(blob, `images/${file.name}`);
  // Создаем URL объект для отображения изображения
  const imageURL = URL.createObjectURL(blob);

  images.value.push(imageURL);
};

const remove = (options: { file: UploadFileInfo }) => {
  defaultFileList.value = defaultFileList.value.filter(
    (i) => i.id !== options.file.id,
  );
};

watch(objectToDetect, (newValue) => {
  action.value = `http://localhost:8001/img_object_detection_to_img?object_to_detect=${newValue}`;
});
</script>

<template>
  <PageLayout>
    <template #header>
      <n-gradient-text type="info">Распознавание изображений</n-gradient-text>
    </template>

    <n-space vertical>
      <n-upload
        :default-file-list="defaultFileList"
        response-type="arraybuffer"
        :action="action"
        list-type="image-card"
        show-retry-button
        @finish="fileUpload"
        @remove="remove"
      >
        Загрузить изображение
      </n-upload>

      <n-input
        v-model:value="objectToDetect"
        placeholder="Object to detect"
      />

      <n-image-group v-if="images">
        <n-space>
          <n-image
            v-for="(img, index) in images"
            :key="index"
            width="300"
            :src="img"
          />
        </n-space>
      </n-image-group>
    </n-space>
  </PageLayout>
</template>

<style lang="scss" scoped>
.n-gradient-text {
  font-size: 36px;
}
</style>
