<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ErrorNotFound',
});
</script>

<template>
  <div
    class="fullscreen bg-red-14 text-white text-center q-pa-md flex flex-center"
  >
    <div>
      <div style="font-size: 30vh">404</div>

      <h2
        class="text-h2"
        style="opacity: 0.4"
      >
        Ничего не найдено...
      </h2>
    </div>
  </div>
</template>
