<script setup lang="ts">
import classCard from '@/assets/images/cardClass.png';

defineProps({
  item: {
    type: Object,
    default: () => ({}),
  },
});

const emit = defineEmits<{
  (e: 'open-modal'): void;
}>();
</script>

<template>
  <router-link
    class="link"
    :to="{ path: `dataset/${item.uid}` }"
  >
    <n-card
      class="card"
      hoverable
    >
      <template #header>
        <div class="card__title">{{ item.class }}</div>
      </template>
      <template #cover>
        <div class="card__cover">
          <n-image
            preview-disabled
            :src="classCard"
          />
        </div>
      </template>
    </n-card>
  </router-link>
</template>

<style lang="scss" scoped>
.link {
  text-decoration: initial;
}
.card {
  max-width: 300px;
  border-radius: 20px;
  position: relative;

  cursor: pointer;

  &__title {
    text-align: center;
    text-transform: uppercase;

    font-size: 14px;
    letter-spacing: 0.5em;
  }

  &__cover {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 180px;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__plus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
