<script setup lang="ts">
import { AppSidebar } from '@/widgets/sidebar';
import { TheHeader } from '@/widgets/header';
import { TheMain } from '@/widgets/main';
import { TheFooter } from '@/widgets/footer';
import { useCurrentUser } from 'vuefire';

const collapsed = ref(false);

const user = useCurrentUser();
</script>

<template>
  <n-layout
    :position="'absolute'"
    has-sider
  >
    <n-layout-sider
      v-if="user"
      bordered
      :collapsed="collapsed"
      @collapse="collapsed = true"
      @expand="collapsed = false"
      show-trigger
      width="220"
      collapse-mode="width"
      :collapsed-width="65"
      :native-scrollbar="false"
    >
      <AppSidebar />
    </n-layout-sider>

    <n-layout position="static">
      <n-layout-header
        bordered
        style="height: 65px"
      >
        <TheHeader />
      </n-layout-header>

      <n-layout
        class="flex-container top"
        :native-scrollbar="false"
        position="absolute"
        :scrollbar-props="{ containerClass: 'document-scroll-container' }"
      >
        <div class="flex">
          <n-layout-content>
            <TheMain />
          </n-layout-content>
        </div>

        <n-layout-footer bordered>
          <TheFooter />
        </n-layout-footer>
      </n-layout>
    </n-layout>
  </n-layout>
</template>

<style lang="scss" scoped>
.n-layout-footer {
  padding: 24px;
}

.n-gradient-text {
  font-size: 36px;
}

.flex-container {
  & :deep(.n-scrollbar-content) {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.top {
  top: 65px;
}

.flex {
  flex: 1;
  display: flex;
}
</style>
